
*{
    padding: 0px;
    margin: 0px;
    
} */
    

h1{
    font-family: "Playfair Display", serif;
}

i{
    margin: 10px;
}


header{
    display: flex;
    display: flex;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0px;
}

.btn1{
    background-color: white;
    justify-content: right;
    

}

nav{
    width: 100%;
    height: 75px;

    justify-content: space-between ;
    align-items: center;

    padding: 0px 50px;
    left: 800px;
    top:150px;
    box-sizing: border-box;
    z-index: 1;
    
}
.menu{
    width: 65%;
    display: flex;
    list-style: none;
margin-left: 200px;
    
}

.menu li{
    margin-left: 20px;
}
.menu li a{
    font-size: 19px;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu li a:hover{
    color: brown;
}



.row{
    width: 100%;
    height: 300px;
    background-color: rgb(250, 219, 207 );
    display: flex;
    justify-content:space-evenly ;
   align-items: center;

    /* start,end ,center,space-around,space-between */
}

.col{
    width:400px;
    height: 300px;
    background-color:rgb(250, 219, 207 );
    margin: 10px;
}
.col1{
    background-color:rgb(250, 219, 207 );
    font-size:30px;
    text-align: center;
}
.col2{
    background-color: rgb(250, 219, 207 )t;
    font-size:30px;
    text-align: center;
}

.col4{
    background-color: rgb(250, 219, 207 );
}
